/* Centered container */
.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust as needed to center vertically */
  }
  
  /* App container */
  .App {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 360px; /* Limit container width for readability */
    margin: 0 auto; /* Center horizontally */
  }
  
  /* Title styles */
  h1 {
    font-family: 'Helvetica Neue', sans-serif; /* Modern font stack */
    color: #333;
    margin-bottom: 20px;
    font-size: 24px; /* Increase font size for a modern look */
  }
  
  /* Input and Button container */
  .input-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  /* Input styles */
  input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: monospace;
    font-size: 16px;
    outline: none;
    margin-right: 10px; /* Add spacing between input and button */
  }
span{
    font-family: monospace;
    font-size: 18px;
    font-weight: 700;
}
  /* Button styles */
  button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  
  /* List styles */
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  li {
    background-color: #fff;
    border: 1px solid #ccc;
    font-family: monospace;
    font-size: 18px;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  li button {
    background-color: #ff3838;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  li button:hover {
    background-color: #d63030;
  }
  